/* General */
html {
	background-color: #EEE;
}

body {
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

.toggle {
	display: none;
}

textarea {
	display: block;
}


/* Header */
header {
	width: 100%;
	background-color: #FFF;
	border-bottom: 50px solid #0091ED;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	overflow: auto;
	text-align: center;
}

header #header {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

header img{
	float: left;
	display: inline-block;
}

header #links{
	display: inline-block;
}

header a {
	color: #0091ED;
	margin-left: 20px;
}


/* Section */
section {
	width: 100%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}


/* Registration form */
#reg_form_container, #reg_container, #login_form_container, #act_container {
	display: block;
	vertical-align: middle;
	text-align: center;
	height: 500px;
	max-width: 400px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: 2px solid #0091ED;
	background-color: #FFF;
}

#reg_form_container a {
	text-decoration: none;
}

#reg_form_container form input[type="submit"] {
	margin-top: 20px;
}

.box {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	display: block;
}

#reg_user, #reg_pass, #reg_mail {
	padding: 3px;
	border: 2px solid #D6D6D6;
}

#reg_mail {
	margin-left: 0;
}

#reg_submit, #reg_cancel {
	width: 80%;
}

#reg_form_container #errors {
	text-align: left;
	font-size: 10pt;
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	box-shadow: inset 0 0 0 2px #DD0000;
	background-color: #F8CCCC;
}

#reg_form_container #errors ul {
	list-style-type: disc;
}


/* Registration succes */
#reg_succes, #act_succes {
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px solid #00DD00;
	background-color: #CCF8CC;
}

#reg_container a {
	color: #0091ED;
}

#reg_container #forum_link {
	margin-top: 50px;
}

#no_mail {
	margin-top: 100px;
}


/* Login form */
#login_form_container a {
	text-decoration: none;
}

#login_form_container img {
	margin-top: 20px;
	margin-bottom: 20px;
}

#login_form_container #errors {
	display: block;
	margin: auto;
	margin-bottom: 20px;
	box-shadow: inset 0 0 0 2px #DD0000;
	background-color: #F8CCCC;
}

#log_submit, #log_cancel {
	text-align: center;
}

#log_user, #log_pass {
	padding: 3px;
	border: 2px solid #D6D6D6;
}


/* Account activated */
#act_container a{
	color: #0091ED;
}


/* Search bar user */
#search-form {
	width: 100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#search-form input {
	font-size: 10pt;
	width: 100%;
	max-width: 500px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 2px solid #D6D6D6;
	border-radius: 5px;
}

#suggestions {
	display: none;
}

.suggestionsBox {
	background-color: #FFF;
	width: 100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: middle;
	position: absolute;
	z-index: 100;
}

.suggestionList .sugg{
	width: 100%;
	max-width: 500px;
	padding-top: 4px;
	padding-bottom: 4px;
	border: 1px solid #EEE;
}

.suggestionList a{
	color: #0091ED;
}


/* Topics */
#topic_container {
	width: 100%;
	max-width: 800px;
	margin: auto;
	margin-top: 30px;
	background-color: #FFF;
	border: 2px solid #0091ED;
}


/* Search bar topics */
#topicsearch-form {
	width: 100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	display: block;
}

#topicsearch-form input {
	font-size: 10pt;
	width: 100%;
	max-width: 470px;
	padding: 8px;
	border: 2px solid #D6D6D6;
	border-radius: 5px;
}

#topicsuggestions {
	display: none;
}


/* New topic */
#tchange {
	text-align: left;
	font-size: 12pt;
	color: #000;
	width: 100%;
	max-width: 500px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #EEE;
	border: none;
}

#new_topic {
	width: 100%;
	margin: auto;
	margin-bottom: 20px;
}

#new_topic input, #new_topic textarea{
	width: 100%;
	max-width: 450px;
	margin: auto;
}

#new_topic input[type="text"] {
	padding: 5px;
	margin-bottom: 10px;
}

#new_topic textarea {
	margin-bottom: 5px;
	border-color: #D6D6D6;
}

#new_desc {
	padding: 5px;
}


/* Topics */
.topics, .likes {
	width: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	border: 1px solid #D6D6D6;
}

.t_title {
	width: 100%;
	margin-bottom: 6px;
}

.t_title a {
	color: #0091ED;
}

input[name="topictitle"] {
	display: block;
}

#topicdes {
	white-space: pre-wrap;
}

.t_info {
	font-size: 10pt;
	color: #808080;
	display: inline-block;
}

.t_info a {
	color: #4CB2F2;
}

.t_del {
	display: inline-block;
}

.t_del input[type="submit"]{
	font-size: 10pt;
	background: none;
	color: #4CB2F2;
	border: none;
	text-decoration: underline;
	padding: 0;
	margin-left: 10px;
	cursor: pointer;
}


/* Page links */
.pages {
	background-color: #0091ED;
	color: #FFF;
	border: 2px solid #FFF;
	padding: 10px 15px;
	margin: 4px;
	margin-top: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.pages:hover {
	background-color: #EEE;
	color: #0091ED;
	border: 2px solid #0091ED;
}

#curPage {
	background-color: #FFF;
	color: #0091ED;
	border: 2px solid #0091ED;
}

/* Profile page tabs */
.tab {
	padding-top: 4px;
	padding-left: 3px;
	margin-top: 20px;
    overflow: hidden;
    border: none;
    background-color: #0091ED;
}

.tab button {
	color: #FFF;
	font-size: 14pt;
	background-color: #0091ED;
	border: none;
	border-radius: 0px;
	outline: none;
	cursor: pointer;
	padding: 20px 20px;
	transition: 0.3s;
}

.tab button:hover {
	color: #0091ED;
	background-color: #EEE;
}

.tab button.active {
	color: #0091ED;
	background-color: #FFF;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    padding-bottom: 20px;
    border-top: none;
    border: 2px solid #0091ED;
    border-top: none;
	background-color: #FFF;
}


/* Topic info */
#topic_info {
	width: 100%;
	max-width: 750px;
	margin: auto;
	margin-bottom: 15px;
	padding-left: 10px;
	text-align: left;
	border-bottom: 2px solid #EEE;
}

#topicdes {
	margin-bottom: 10px;
}


/* New comment */
#change {
	text-align: left;
	font-size: 12pt;
	color: #000;
	width: 100%;
	max-width: 500px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px;
	background-color: #EEE;
	border: none;
}

#new_tcomment input {
	width: 100%;
	max-width: 450px;
	margin: auto;
}

#new_text {
	width: 100%;
	max-width: 450px;
	margin: auto;
	padding: 5px;
	margin-bottom: 5px;
	border-color: #D6D6D6;
}


/* Topic comments */
#tcomment {
	width: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	border: 1px solid #D6D6D6;
}

.t_comment {
	width: 100%;
	margin-bottom: 6px;
}

#tcommentform {
	display: inline;
}

.t_like {
	display: inline-block;
}

.t_like input[type="submit"]{
	font-size: 10pt;
	background: none;
	color: #4CB2F2;
	border: none;
	text-decoration: underline;
	padding: 0;
	margin-left: 10px;
	cursor: pointer;
}


/* Friend request */
#friend_request {
	margin-bottom: 10px;
}


/* Personal tab */
#pers_info {
	width: 100%;
	max-width: 300px;
	text-align: left;
	margin: auto;
	margin-bottom: 40px;
}

#pers_name {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.fa-mars{
	width: 100%;
	color: #0091ED;
}

.fa-venus{
	width: 100%;
	color: #FF8DA1;
}

#pers_studies {
	margin-bottom: 15px;
}

#edit {
	color: #0091ED;
}


/* Comments tab */
#prof_new_text {
	width: 100%;
	max-width: 450px;
	margin: auto;
	margin-bottom: 5px;
	border-color: #D6D6D6;
}

#prof_submit_text {
	width: 100%;
	max-width: 450px;
	margin-bottom: 20px;
}

.profilecomments {
	width: 100%;
	max-width: 450px;
	margin: auto;
	margin-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	border: 1px solid #D6D6D6;
}

.prof_message {
	width: 100%;
	text-align: left;
}

.com {
	width: 100%;
	max-width: 450px;
	margin: auto;
	text-align: left;
} 


/* Likes tab */
.l_comment {
	margin-bottom: 4px;
}

/* Friends tab */
#friends_info {
	width: 100%;
	max-width: 300px;
	text-align: left;
	margin: auto;
	margin-bottom: 40px;
}

.request_box {
	padding-left: 5px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border: 2px solid #0091ED;
	border-radius: 5px;
	background-color: #FCFDFE;
}

.friend_req {
	margin-bottom: 3px;
}

.req_name, .accept, .deny {
	display: inline-block;
}

.req_name a{
	color: #0091ED;
}

.friendslist {
	display: block;
	margin: 4px;
}

.friend_user, .unfriend_user {
	display: inline-block;
}

.friend_user a {
	color: #0091ED;
}